@model ProductRatingVM

<script type="text/javascript">
    var insertRate = '@Url.Action(MVC.Product.InsertRate())';
</script>

<div class="rating-box">
    @Html.Hidden("ItemID", Model.ID)
    <i class="fa fa-info-circle" title="لطفا برای رای دادن کلیک نمایید"></i>
    <span>امتیاز @string.Format("{0:0.00}", (double)Model.SumRating / (Model.TotalRaters == 0 ? 1 : Model.TotalRaters)) از 5 توسط @Model.TotalRaters نفر</span>
    <div class="offer-rate">
        <div class="rateit bigstars" data-rateit-value="@string.Format("{0:0.00}", Model.SumRating / (Model.TotalRaters == 0 ? 1 : Model.TotalRaters))" data-rateit-readonly="@Model.Readonly.ToString().ToLower()"
             data-rateit-starwidth="20" data-rateit-starheight="20" data-itemid="@Model.ID"></div>
    </div>
    <span class="msgAlert">
        @if (Model.Readonly)
        {
            <small class="alert alert-info fade in">
                <a class="close" href="#" title="بستن" aria-label="close" data-dismiss="alert">×</a>
                امتیاز ثبت شده شما: @Model.CurrentRating ستاره
            </small>
        }
    </span>
</div>