@model UserSiteRecoverPasswordVM

<div class="col-sm-6">
    @using (Html.BeginForm(MVC.Account.ForgetPassword(), FormMethod.Post, new { @class = "form-contact", role = "form" }))
    {
        if (!string.IsNullOrWhiteSpace(ViewBag.Alert))
        {
            @Html.Raw(ViewBag.Alert)
        }
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Email)
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control ltr text-left" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <div class="row">
                @Html.LabelFor(model => model.Captcha, new { @class = "col-sm-12" })
            </div>
            @Html.EditorFor(model => model.Captcha, new { htmlAttributes = new { @class = "form-control float-none col-xs-3 col-sm-4" } })
            @Html.Partial(MVC.Shared.Views._PartialCaptcha, new Tuple<int, int, int>(2, 130, 22))
            <div class="form-group">
                @Html.ValidationMessageFor(model => model.Captcha, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-submit btn-lg">ارسال</button>
        </div>
    }
</div>
<div class="visible-xs col-xs-12">
    <hr />
</div>
<div class="clearfix visible-xs"></div>
<div class="col-sm-6">
    <h2 class="title-design mb25">راهنمای بازیابی</h2>
    <ul class="help-box mb25">
        <li class="fa fa-chevron-left ">شما با استفاده از نام كاربری و رمز عبور در سایت شناسایی می شوید. چنانچه کلمه عبور خود را فراموش کرده اید می‌توانید پست الکترونیکی که در هنگام عضویت وارد نموده اید، در فرم روبرو وارد کرده و دکمه ارسال را بفشارید. پس از فشردن دکمه ارسال ایمیلی حاوی لینک تغییر کلمه عبور برای شما ارسال خواهد شد. با کلیک بر روی لینک موجود در ایمیل، به صفحه تغییر کلمه عبور منتقل خواهید شد. </li>
    </ul>
</div>