@model CommentProduct

@if (Model == null)
{
    <table class="table no-border">
        <tbody class="no-border-y no-border-x">
            <tr>
                <td class="col-sm-6">اطلاعات رکورد مورد نظر یافت نشد</td>
                <td class="col-sm-6">
                    <a href="#" class="btn btn-danger btn-sm btnCancelComment">
                        <i class="fa fa-times-circle"></i> انصراف
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
}
else
{
    using (Html.BeginForm())
    {
        <table class="table no-border">
            <tbody class="no-border-y no-border-x">
                <tr>
                    <td class="col-sm-2">@Html.DisplayNameFor(model => model.FullName)</td>
                    <td class="col-sm-5">
                        @Html.HiddenFor(model => model.ID)
                        @Html.HiddenFor(model => model.ProductID)
                        @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    <td class="col-sm-5">@Html.ValidationMessageFor(model => model.FullName, "", new { @class = "color-danger" })</td>
                </tr>
                <tr>
                    <td class="col-sm-2">@Html.DisplayNameFor(model => model.Email)</td>
                    <td class="col-sm-5">@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control ltr" } })</td>
                    <td class="col-sm-5">@Html.ValidationMessageFor(model => model.Email, "", new { @class = "color-danger" })</td>
                </tr>
                <tr>
                    <td class="col-sm-2">@Html.DisplayNameFor(model => model.Body)</td>
                    <td class="col-sm-5">@Html.EditorFor(model => model.Body, new { htmlAttributes = new { @class = "form-control", @rows = "4" } })</td>
                    <td class="col-sm-5">@Html.ValidationMessageFor(model => model.Body, "", new { @class = "color-danger" })</td>
                </tr>
                <tr>
                    <td class="col-sm-2">@Html.DisplayNameFor(model => model.Answer)</td>
                    <td class="col-sm-5">@Html.EditorFor(model => model.Answer, new { htmlAttributes = new { @class = "form-control", @rows = "4" } })</td>
                    <td class="col-sm-5">@Html.ValidationMessageFor(model => model.Answer, "", new { @class = "color-danger" })</td>
                </tr>
                <tr>
                    <td class="col-sm-2">@Html.DisplayNameFor(model => model.Status)</td>
                    <td class="col-sm-5">@Html.EnumDropDownListFor(model => model.Status, new { @class = "form-control" })</td>
                    <td class="col-sm-5">@Html.ValidationMessageFor(model => model.Status, "", new { @class = "color-danger" })</td>
                </tr>
                <tr>
                    <td class="col-sm-2">&nbsp;</td>
                    <td class="col-sm-5">
                        <img src="~/Content/Admin/Images/loading2.gif" class="display-none" />
                        <button class="btn btn-success btn-sm" type="submit">
                            <i class="fa fa-floppy-o"></i> ذخیره
                        </button>
                        <a href="#" class="btn btn-danger btn-sm btnCancelComment">
                            <i class="fa fa-times-circle"></i> انصراف
                        </a>
                        <small class="msgAlert"></small>
                    </td>
                </tr>
            </tbody>
        </table>
    }
}