@model FileUploadCategory

@if (Model == null)
{
    <table class="table no-border">
        <tbody class="no-border-y no-border-x">
            <tr>
                <td class="col-sm-6">اطلاعات رکورد مورد نظر یافت نشد</td>
                <td class="col-sm-6">
                    <a href="#" class="btn btn-danger btn-sm btnCancelRow"><i class="fa fa-times-circle"></i> انصراف</a>
                </td>
            </tr>
        </tbody>
    </table>
}
else
{
    using (Html.BeginForm())
    {
        <table class="table no-border">
            <tbody class="no-border-y no-border-x">
                <tr>
                    <td class="col-sm-2">@Html.DisplayNameFor(model => model.Title)</td>
                    <td class="col-sm-5 text-right">
                        @Html.HiddenFor(model => model.ID)
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "color-danger" })
                    </td>
                    <td class="col-sm-5 vmiddle" rowspan="2">
                        <img src="~/Content/Admin/Images/loading2.gif" class="display-none" />
                        <button class="btn btn-success btn-sm" type="submit">
                            <i class="fa fa-floppy-o"></i> ذخیره
                        </button>
                        <a href="#" class="btn btn-danger btn-sm btnCancelRow"><i class="fa fa-times-circle"></i> انصراف</a>
                    </td>
                </tr>
                <tr>
                    <td class="col-sm-2">@Html.DisplayNameFor(model => model.Rank)</td>
                    <td class="col-sm-5 text-right">
                        @Html.TextBoxFor(model => model.Rank, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Rank, "", new { @class = "color-danger" })
                    </td>
                </tr>
            </tbody>
        </table>
    }
}