@model IList<Slider>

<section id="rsDemoWrapper">
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                @foreach (var item in Model)
                {
                    <li data-transition="fade" data-masterspeed="1500">
                        <img data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" src="@(item.FileUploadID != null ? string.Format("/Data/Admin/{0}", item.FileUpload.RealName) : "/Content/Images/no-pic.jpg")" alt="@item.Title - @item.SubTitle" />
                        @if (Model.First() == item)
                        {
                            <div class="tp-caption large_bold_white customin customout tp-resizeme"
                                 data-x="center" data-hoffset="0"
                                 data-y="200"
                                 data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                 data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                 data-speed="600"
                                 data-start="1400"
                                 data-easing="Power4.easeOut"
                                 data-endspeed="600"
                                 data-endeasing="Power0.easeIn"
                                 style="z-index: 3">
                                @item.Title
                            </div>
                            <div class="tp-caption medium_light_white customin customout tp-resizeme"
                                 data-x="center" data-hoffset="0"
                                 data-y="bottom" data-voffset="-200"
                                 data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                 data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                 data-speed="600"
                                 data-start="1700"
                                 data-easing="Power4.easeOut"
                                 data-endspeed="600"
                                 data-endeasing="Power0.easeIn"
                                 style="z-index: 4">
                                @item.SubTitle
                            </div>
                        }
                        else
                        {
                            <div class="tp-caption largeblackbg skewfromleft tp-resizeme"
                                 data-x="20" data-hoffset="0"
                                 data-y="bottom" data-voffset="-250"
                                 data-speed="600"
                                 data-start="1400"
                                 data-easing="Power4.easeOut"
                                 data-endspeed="600"
                                 data-endeasing="Power0.easeIn"
                                 style="z-index: 3">
                                @item.Title
                            </div>
                            <div class="tp-caption medium_light_white skewfromleft tp-resizeme"
                                 data-x="20" data-hoffset="0"
                                 data-y="330"
                                 data-speed="600"
                                 data-start="1700"
                                 data-easing="Power4.easeOut"
                                 data-endspeed="600"
                                 data-endeasing="Power0.easeIn"
                                 style="z-index: 3">
                                @item.SubTitle
                            </div>
                        }
                    </li>
                }
            </ul>
        </div>
    </div>
</section>